In [ ]:
URL = "../data/raw/survey_results_public.csv"

In [3]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 1000

In [9]:
raw_df = pd.read_csv(URL)
raw_df.shape

(83439, 48)

In [14]:
raw_df.sample(1).iloc[0]

ResponseId                                                                  74052
MainBranch                                 I am a student who is learning to code
Employment                                 Not employed, and not looking for work
Country                                                                     Egypt
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                              Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)
Age1stCode                                                          18 - 24 years
LearnCode                       Other online resources (ex: videos, blogs, etc...
YearsCode                                                        Less than 1 year
YearsCodePro                                                                  NaN
DevType                                                                       NaN
OrgSize                                                                       NaN
Currency                                                                      NaN
CompTotal                                                                     NaN
CompFreq                                                                      NaN
LanguageHaveWorkedWith          C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Pyth...
LanguageWantToWorkWith                                   C#;F#;JavaScript;Node.js
DatabaseHaveWorkedWith                                Microsoft SQL Server;SQLite
DatabaseWantToWorkWith               Elasticsearch;MongoDB;MySQL;PostgreSQL;Redis
PlatformHaveWorkedWith                                                        NaN
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                 ASP.NET Core ;Django;Flask
WebframeWantToWorkWith                                       ASP.NET Core ;Django
MiscTechHaveWorkedWith                                         .NET Core / .NET 5
MiscTechWantToWorkWith                                         .NET Core / .NET 5
ToolsTechHaveWorkedWith                                                       NaN
ToolsTechWantToWorkWith                                                       NaN
NEWCollabToolsHaveWorkedWith    Emacs;IntelliJ;PyCharm;Rider;Visual Studio;Vis...
NEWCollabToolsWantToWorkWith                             Rider;Visual Studio Code
OpSys                                                                     Windows
NEWStuck                                                                Google it
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                                 Daily or almost daily
SOAccount                                                                     Yes
SOPartFreq                      I have never participated in Q&A on Stack Over...
SOComm                                                             No, not at all
NEWOtherComms                                                                  No
Age                                                               18-24 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                                          Middle Eastern
Accessibility                                                   None of the above
MentalHealth                                           I have an anxiety disorder
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                           NaN
Name: 74051, dtype: object

In [11]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

In [12]:
raw_df.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

In [15]:
'''
YearsCode                     81641 non-null  object 
YearsCodePro                  61216 non-null  object 
object even though they are supposed to be numbers

 Target column DevType

 Columns that can be utilized

 "LanguageHaveWorkedWith"
 "DatabaseHaveWorkedWith"
 "PlatformHaveWorkedWith"
 "WebframeHaveWorkedWith"
 "MiscTechHaveWorkedWith"
 "ToolsTechHaveWorkedWith"
 "NEWCollabToolsHaveWorkedWith"
 
'''

'\nYearsCode                     81641 non-null  object \nYearsCodePro                  61216 non-null  object \nobject even though they are supposed to be numbers\n\n Target column DevType\n\n Columns that can be utilized\n\n 16  LanguageHaveWorkedWith        82357 non-null  object \n 17  LanguageWantToWorkWith        76821 non-null  object \n 18  DatabaseHaveWorkedWith        69546 non-null  object \n 20  PlatformHaveWorkedWith        52135 non-null  object \n 21  PlatformWantToWorkWith        41619 non-null  object \n 22  WebframeHaveWorkedWith        61707 non-null  object \n 24  MiscTechHaveWorkedWith        47055 non-null  object \n 26  ToolsTechHaveWorkedWith       72537 non-null  object \n 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object \n \n'

In [23]:
num_cols = ["YearsCode", "YearsCodePro"]

for col in num_cols:
    print(raw_df[col].unique())
    print("____________________________________")

[nan '7' '17' '3' '4' '6' '16' '12' '15' '10' '40' '9' '26' '14' '39' '20'
 '8' '19' '5' 'Less than 1 year' '22' '2' '1' '34' '21' '13' '25' '24'
 '30' '31' '18' '38' 'More than 50 years' '27' '41' '42' '35' '23' '28'
 '11' '37' '44' '43' '36' '33' '45' '29' '50' '46' '32' '47' '49' '48']
____________________________________
[nan '10' '4' '5' '6' '2' '30' '9' '18' '12' '21' '1' '16'
 'Less than 1 year' '15' '3' '35' '7' '8' '17' '14' '26' '25' '20' '50'
 '34' '11' '24' '22' '13' '31' '23' '39' '41' '27' '28' '19' '33'
 'More than 50 years' '37' '29' '32' '43' '40' '38' '45' '42' '46' '36'
 '44' '47' '48' '49']
____________________________________

In [24]:
# altering the questionable col to be fully float

{'Less than 1 year' : 0, 'More than 50 years' : 1}

{'Less than 1 year': 0, 'More than 50 years': 1}