In [246]:
'''
    This notebook to replace the strings in yearsCode
    and to change the object variables from string to array where we seperated the string with ';'
'''

"\n    This notebook to replace the strings in yearsCode\n    and to change the object variables from string to array where we seperated the string with ';'\n"

In [5]:
URL = "../data/raw/survey_results_public.csv"
EXPORT_URL = "../data/processed/1_preprocessed_df.pkl"
VARIABLE_COLS = [ "LanguageHaveWorkedWith",
                "DatabaseHaveWorkedWith",
                "PlatformHaveWorkedWith",
                "WebframeHaveWorkedWith",
                "MiscTechHaveWorkedWith",
                "ToolsTechHaveWorkedWith",
                "NEWCollabToolsHaveWorkedWith"]
TAREGET_COL = ["DevType"]
REPLACE_DICT = {'Less than 1 year' : 0, 'More than 50 years' : 1}
OBJ_COL_TO_REPLACE = ["YearsCode", "YearsCodePro"]

In [6]:
import pandas as pd
import numpy as np

In [226]:
def split_answers(series, delimiter=";"):
    
    def is_splittable(pd_series, delimiter=";"):
        return pd_series.str.contains(delimiter).any()
    
    if not is_splittable(series, delimiter):
        return series
    
    modified_series = series.str.split(delimiter)

    """
        Can't make isna() on a series with []
        it gives error
        so we have to explicitly get the null values alone and then do the mapping to an empty array
        to become compaible with the other instances
    """
    
    null_mask = modified_series.isnull()
    
    modified_series.loc[null_mask] = modified_series[null_mask].apply(lambda x: [])
    
    return modified_series

In [227]:
raw_df = pd.read_csv(URL)
df = raw_df.copy()

In [228]:
for col in OBJ_COL_TO_REPLACE:
    df[col] = df[col].replace(REPLACE_DICT).astype(np.float32)

In [229]:
i = df.sample(1).index[0]

print(raw_df.iloc[i][OBJ_COL_TO_REPLACE])
print("-------------------------")
print(df.iloc[i][OBJ_COL_TO_REPLACE])

YearsCode         1
YearsCodePro    NaN
Name: 30555, dtype: object
-------------------------
YearsCode       1.0
YearsCodePro    NaN
Name: 30555, dtype: object

In [230]:
object_cols = df.select_dtypes(include='object').columns.tolist()
for col in object_cols:
    df[col] = split_answers(df[col])

In [243]:
i = df.sample(1).index[0]

print(raw_df.iloc[i]["LanguageHaveWorkedWith"])
print("-------------------------")
print(df.iloc[i]["LanguageHaveWorkedWith"])

nan
-------------------------
[]

In [245]:
df.to_pickle(EXPORT_URL)

In [ ]:
print("omar")